*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Acumin Pro Bold
font-family: acumin-pro,sans-serif;
font-weight: 700;
font-style: normal;

Acumin Pro Bold Italic
font-family: acumin-pro, sans-serif;
font-weight: 700;
font-style: italic;

Acumin Pro Italic
font-family: acumin-pro,sans-serif;
font-weight: 400;
font-style: italic;

Acumin Pro Regular
font-family: acumin-pro,sans-serif;
font-weight: 400;
font-style: normal; */

body {
    margin: 0;
    font-family: acumin-pro, sans-serif;
    line-height: 1.5;
}

img {
    display: block;
}

h1, h2, h3, p, ol, ul {
    margin: 0;
}

li {
    font-size: clamp(10px, 2vw, 1.5rem);
    padding-bottom: 0.3em;
}

section {
    padding-bottom: 1em;
}

footer {
    font-size: clamp(7.5px, 1vw, 1.5rem);
    color: grey;
    text-align: center;
    background-color: #f0f0f0;
    padding: 1em 0;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: auto;
    padding: 1em 0;
}

.hero-title > img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.hero-subtitle {
    font-weight: 400;
    font-size: 1.5rem;
    font-size: clamp(14px, 3vw, 2rem);
    letter-spacing: 2px;
    margin-top: 2rem;
}

.section-title {
    font-weight: 700;
    font-size: clamp(12px, 2.5vw, 1.5rem);
    letter-spacing: 0.5px;
    color: #4d4d4d;
    padding-bottom: 0.5em;
}

.section-subtitle {
    font-weight: 400;
    font-style: italic;
    font-size: clamp(11px, 2.5vw, 1.5rem);
    letter-spacing: 0.5px;
    padding-bottom: 0.4em;
}

.content {
    font-size: clamp(10px, 1.2vw, 1.5rem);
    padding-bottom: 0.3em;
}

.hero {
    color: grey;
    text-align: center;
    padding: 4em 0;
    background-color: #f0f0f0;
}